<div *ngIf="show">
  <nz-back-top></nz-back-top>
  <div nz-row nzJustify="center" class="part">
    <div nz-col nzMd="18" nzSm="24">
      <bio
        [teamClub]="this.club"
        [isTeam]="false"
        [ClubChange]="CanChange"
      ></bio>
    </div>
  </div>
  <div nz-row *ngIf="CanChange" [nzGutter]="16" nzJustify="center" class="part">
    <div nz-col nzMd="6" nzSm="12" nzXs="24">
      <button
        nz-button
        nzType="dashed"
        (click)="showFieldModal()"
        class="functionButton"
      >
        <span nz-icon nzType="plus"></span>
        Добавить полигон
      </button>
    </div>
    <div nz-col nzMd="6" nzSm="12" nzXs="24">
      <button
        nz-button
        nzType="dashed"
        class="functionButton"
        (click)="showGameModal()"
      >
        <span nz-icon nzType="plus"></span>
        Добавить игру
      </button>
    </div>
    <div nz-col nzMd="6" nzSm="12" nzXs="24">
      <button nz-button nzType="dashed" class="functionButton">
        <span nz-icon nzType="plus"></span>
        Добавить запись
      </button>
    </div>
  </div>
  <div nz-row nzJustify="center" class="part">
    <div nz-col nzMd="18" nzSm="24">
      <info></info>
    </div>
  </div>
  <div nz-row nzJustify="center">
    <div *ngFor="let game of games" nz-col nzMd="18" nzSm="24" class="part">
      <game
        [game]="game"
        [CanChange]="CanChange"
        [TeamRights]="TeamRights"
        [PersonalTeam]="PersonalTeam"
        [soloRegistration]="GetSoloRegistration(game.id)"
        [teamRegistration]="GetTeamRegistration(game.id)"
        [maxPeopleCount]="maxPeopleCount"
      ></game>
    </div>
  </div>
  <div nz-row nzJustify="center">
    <div *ngFor="let field of fields" nz-col nzMd="18" nzSm="24" class="part">
      <field [field]="field" [CanChange]="CanChange"></field>
    </div>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isVisibleField"
  nzTitle="Добавление полигона"
  nzCentered
  (nzOnCancel)="handleFieldCancel()"
  [nzFooter]="modalFieldFooter"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="fieldForm">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name"
          >Название</nz-form-label
        >
        <nz-form-control
          [nzSm]="18"
          [nzXs]="24"
          nzErrorTip="Это поле обязательно для заполнения, длина не должна превышать 128 символов"
        >
          <input nz-input formControlName="name" id="name" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired="" nzFor="text"
          >Описание</nz-form-label
        >
        <nz-form-control
          [nzSm]="18"
          [nzXs]="24"
          nzErrorTip="Это поле обязательно для заполнения, длина не должна превышать 2000 символов"
        >
          <nz-textarea-count [nzMaxCharacterCount]="2000">
            <textarea
              formControlName="text"
              id="text"
              nz-input
              rows="5"
              style="max-height: 200px"
            ></textarea>
          </nz-textarea-count>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control
          [nzSm]="{ span: 18, offset: 6 }"
          [nzXs]="24"
          nzErrorTip="Это поле обязательно для заполнения"
        >
          <nz-radio-group formControlName="isCovered">
            <label nz-radio [nzValue]="false">Открытый</label>
            <label nz-radio [nzValue]="true">Крытый</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="address"
          >Адрес</nz-form-label
        >
        <nz-form-control
          [nzSm]="18"
          [nzXs]="24"
          nzErrorTip="Это поле обязательно для заполнения"
        >
          <input nz-input formControlName="address" id="adress" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="gps">GPS</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24">
          <input nz-input formControlName="gps" id="gps" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>

<ng-template #modalFieldFooter>
  <button
    nz-button
    [disabled]="fieldForm.invalid"
    nzType="primary"
    (click)="CreateField()"
  >
    Добавить
  </button>
</ng-template>

<nz-modal
  [(nzVisible)]="isVisibleGame"
  nzTitle="Изменение информации о игре"
  nzCentered
  (nzOnCancel)="handleGameCancel()"
  [nzFooter]="modalGameFooter"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="gameForm" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="name">Название</nz-form-label>
        <nz-form-control
          nzErrorTip="Это поле обязательно для заполнения, длина не должна превышать 128 символов"
        >
          <input nz-input formControlName="name" id="name" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired="" nzFor="text">Описание</nz-form-label>
        <nz-form-control
          nzErrorTip="Это поле обязательно для заполнения, длина не должна превышать 2000 символов"
        >
          <nz-textarea-count [nzMaxCharacterCount]="2000">
            <textarea
              formControlName="text"
              id="text"
              nz-input
              rows="5"
              style="max-height: 300px"
            ></textarea>
          </nz-textarea-count>
        </nz-form-control>
      </nz-form-item>

      <div nz-row class="nz-form-item">
        <div nz-col nzSpan="7">
          <nz-form-label nzRequired nzFor="defaultPrice"
            >Цена со своим</nz-form-label
          >
          <nz-form-control>
            <nz-input-number-group nzPrefix="BYN">
              <nz-input-number
                formControlName="defaultPrice"
                id="defaultPrice"
                [nzMin]="0"
                [nzStep]="1"
              ></nz-input-number>
            </nz-input-number-group>
          </nz-form-control>
        </div>

        <div nz-col nzSpan="7">
          <nz-form-label nzFor="rentalPrice">Цена с прокатным</nz-form-label>
          <nz-form-control>
            <nz-input-number-group nzPrefix="BYN">
              <nz-input-number
                formControlName="rentalPrice"
                id="rentalPrice"
                [nzMin]="0"
                [nzStep]="1"
              ></nz-input-number>
            </nz-input-number-group>
          </nz-form-control>
        </div>

        <div nz-col nzFlex="auto">
          <nz-form-label nzFor="startDt" nzRequired>
            Дата и время начала
          </nz-form-label>
          <nz-form-control>
            <nz-date-picker
              formControlName="startDt"
              id="startDt"
              nzFormat="yyyy-MM-dd HH:mm"
              [nzDisabledDate]="disabledDate"
              [nzShowTime]="timeOptions"
              [nzDisabledTime]="disabledDateTime"
            ></nz-date-picker>
          </nz-form-control>
        </div>
      </div>

      <nz-form-item>
        <nz-form-control nzErrorTip="Это поле обязательно для заполнения">
          <nz-radio-group formControlName="gameType">
            <label nz-radio [nzValue]="6">Сталкерстрайк</label>
            <label nz-radio [nzValue]="1">Воскреска</label>
            <label nz-radio [nzValue]="5">Сюжетка</label>
            <label nz-radio [nzValue]="4">Спидсофт</label>
            <label nz-radio [nzValue]="3">Закрытие сезона</label>
            <label nz-radio [nzValue]="2">Открытие сезона</label>
            <label nz-radio [nzValue]="0">Пистолетка</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>

<ng-template #modalGameFooter>
  <button
    nz-button
    [disabled]="gameForm.invalid"
    nzType="primary"
    (click)="CreateGame()"
  >
    Добавить
  </button>
</ng-template>
