<div *ngIf="!haveAccount()" style="display: table; width: 100%; height: 100%">
  <div style="display: table-cell; vertical-align: middle">
    <nz-card nzBorderless class="createForm">
      <h1 nz-typography class="centered">Создание аккаунта</h1>
      <form nz-form [formGroup]="accountForm" (ngSubmit)="CreateAccount()">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="callsign"
            >Позывной</nz-form-label
          >
          <nz-form-control
            [nzSm]="16"
            [nzXs]="24"
            nzErrorTip="Это поле обязательно для заполнения, длина не должна превышать 128 символов"
          >
            <input nz-input formControlName="callsign" id="callsign" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="gameRole"
            >Роль в игре</nz-form-label
          >
          <nz-form-control
            [nzSm]="16"
            [nzXs]="24"
            nzErrorTip="Выберите свою роль"
          >
            <nz-select
              formControlName="gameRole"
              id="gameRole"
              nzPlaceHolder="Выберите роль"
            >
              <nz-option nzLabel="Штурмовик" nzValue="Stormtrooper"></nz-option>
              <nz-option nzLabel="Снайпер" nzValue="Sniper"></nz-option>
              <nz-option nzLabel="Марксман" nzValue="Marksman"></nz-option>
              <nz-option
                nzLabel="Пулеметчик"
                nzValue="MachineGunner"
              ></nz-option>
              <nz-option nzLabel="Другое" nzValue="Other"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="desc"
            >Описание/Дивиз</nz-form-label
          >
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <nz-textarea-count [nzMaxCharacterCount]="2000">
              <textarea
                formControlName="desc"
                id="desc"
                nz-input
                rows="2"
              ></textarea>
            </nz-textarea-count>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control [nzOffset]="2" [nzSm]="20">
            <button
              nz-button
              [disabled]="accountForm.invalid"
              nzType="primary"
              style="width: 100%"
            >
              Создать
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>
  </div>
</div>

<div *ngIf="haveAccount()">
  <div nz-row nzJustify="center" style="padding-bottom: 16px">
    <div nz-col nzSpan="16">
      <bio [account]="account"></bio>
    </div>
  </div>
  <div nz-row nzJustify="center">
    <div nz-col nzSpan="16">
      <info></info>
    </div>
  </div>
</div>
