<nz-card
  [nzBordered]="false"
  [nzActions]="[actionGameEdit, actionGameDelete, actionGameStat]"
  nzTitle="Игра {{ game.name }}"
  [nzExtra]="extraTemplate"
  *ngIf="CanChange; else CannotChangeWithTeam"
>
  <p>{{ game.text }}</p>
  <p>Полигон - {{ game.fieldName }}</p>
  <p>Цена со своим снаряжением - {{ game.defaultPrice }}</p>
  <p *ngIf="game.rentalPrice != null && game.rentalPrice > 0">
    Цена с прокатным снаряжением - {{ game.rentalPrice }}
  </p>
  <p>Тип игры - {{ ConvertGameType(game.gameType) }}</p>
  <p>Начало - {{ startDt | date : "d MMM y, H:mm" }}</p>
</nz-card>

<ng-template #CannotChangeWithTeam>
  <nz-card
    [nzBordered]="false"
    nzTitle="Игра {{ game.name }}"
    [nzExtra]="extraTemplate"
    *ngIf="PersonalTeam != null && CanChangeTeam(); else CannotChange"
    [nzActions]="[soloRegister, teamRegister]"
  >
    <p>{{ game.text }}</p>
    <p>Полигон - {{ game.fieldName }}</p>
    <p>Цена со своим снаряжением - {{ game.defaultPrice }}</p>
    <p *ngIf="game.rentalPrice != null && game.rentalPrice > 0">
      Цена с прокатным снаряжением - {{ game.rentalPrice }}
    </p>
    <p>Тип игры - {{ ConvertGameType(game.gameType) }}</p>
    <p>Начало - {{ startDt | date : "d MMM y, H:mm" }}</p>
    <div *ngIf="teamRegistration != null; else noTeam">
      <nz-alert
        nzType="success"
        nzMessage="Вы записались на эту игру с командой"
      ></nz-alert>
    </div>
  </nz-card>
</ng-template>

<ng-template #noTeam>
  <nz-alert
    *ngIf="soloRegistration != null"
    nzType="success"
    nzMessage="Вы записались на эту игру"
  ></nz-alert>
</ng-template>

<ng-template #CannotChange>
  <nz-card
    [nzBordered]="false"
    nzTitle="Игра {{ game.name }}"
    [nzExtra]="extraTemplate"
    [nzActions]="[soloRegister]"
  >
    <p>{{ game.text }}</p>
    <p>Полигон - {{ game.fieldName }}</p>
    <p>Цена со своим снаряжением - {{ game.defaultPrice }}</p>
    <p *ngIf="game.rentalPrice != null && game.rentalPrice > 0">
      Цена с прокатным снаряжением - {{ game.rentalPrice }}
    </p>
    <p>Тип игры - {{ ConvertGameType(game.gameType) }}</p>
    <p>Начало - {{ startDt | date : "d MMM y, H:mm" }}</p>
    <div *ngIf="teamRegistration != null; else noTeam">
      <nz-alert
        nzType="success"
        nzMessage="Вы записались на эту игру с командой"
      ></nz-alert>
    </div>
  </nz-card>
</ng-template>

<ng-template #actionGameEdit>
  <span nz-icon nzType="edit" (click)="showModal()"></span>
</ng-template>

<ng-template #actionGameStat>
  <span nz-icon nzType="audit" (click)="GetStat()"></span>
</ng-template>

<nz-modal
  [(nzVisible)]="isVisibleStat"
  nzTitle="Статистика по игре"
  (nzOnCancel)="handleStatCancel()"
  (nzOnOk)="handleStatCancel()"
  nzCentered
>
  <ng-container *nzModalContent>
    <p>Кол-во одиночных игроков: {{ gameStat.soloPeopleCount }}</p>
    <p>Кол-во команд: {{ gameStat.teamsCount }}</p>
    <p>Кол-во людей в командах: {{ gameStat.teamsPeopleCount }}</p>
    <p>Общее количество людей: {{ gameStat.totalPeopleCount }}</p>
    <p>Кол-во прокатчиков: {{ gameStat.rentCount }}</p>
    <p>Скольких надо подвезти: {{ gameStat.pickUpCount }}</p>
  </ng-container>
</nz-modal>

<ng-template #soloRegister>
  <span
    nz-icon
    nz-popover
    nzPopoverTitle="Запоните форму"
    [(nzPopoverVisible)]="soloRegisterVisible"
    nzPopoverTrigger="click"
    [nzPopoverContent]="SoloRegisterContent"
    nzType="user-add"
  ></span>
</ng-template>

<ng-template #SoloRegisterContent>
  <form
    nz-form
    [formGroup]="soloRegisterForm"
    nzLayout="inline"
    (submit)="SoloRegistration()"
  >
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="needARent">Нужен прокат</label>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-select
          formControlName="pickUp"
          nzPlaceHolder="Как вы доберетесь до места?"
          [nzShowArrow]="false"
          class="select"
        >
          <nz-option nzLabel="На машине" [nzValue]="2"></nz-option>
          <nz-option nzLabel="На машине, есть место" [nzValue]="3"></nz-option>
          <nz-option nzLabel="Нужно подвезти" [nzValue]="1"></nz-option>
          <nz-option
            nzLabel="Общественным транспортом"
            [nzValue]="0"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" [disabled]="!soloRegisterForm.valid">
          Подтвердить
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>

<ng-template #teamRegister>
  <span
    nz-icon
    nz-popover
    nzPopoverTitle="Заполните форму"
    [(nzPopoverVisible)]="teamRegisterVisible"
    nzPopoverTrigger="click"
    [nzPopoverContent]="teamRegisterContent"
    nzType="usergroup-add"
  ></span>
</ng-template>

<ng-template #teamRegisterContent>
  <form
    nz-form
    nzLayout="inline"
    [formGroup]="teamRegisterForm"
    (submit)="TeamRegistration()"
  >
    <nz-form-item>
      <nz-form-label nzRequired nzFor="peopleCount"
        >Сколько человек из команды</nz-form-label
      >
      <nz-form-control>
        <nz-input-number
          formControlName="peopleCount"
          id="peopleCount"
          [nzMin]="1"
          [nzStep]="1"
          [nzMax]="maxPeopleCount"
        ></nz-input-number>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary">Подтвердить</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>

<ng-template #extraTemplate>
  <span>{{ game.creationDt | date : "d MMM y" }}</span>
</ng-template>

<ng-template #actionGameDelete>
  <span
    nz-icon
    nzType="delete"
    nz-popconfirm
    nzPopconfirmTitle="Вы точно хотите удалить игру?"
    nzPopconfirmPlacement="bottom"
    (nzOnConfirm)="deleteGame()"
    [nzIcon]="customIcon"
    nzCancelText="Нет, не удалять"
    nzOkText="Да, удалить"
  ></span>
</ng-template>

<ng-template #customIcon>
  <span nz-icon nzType="warning" style="color: #b4251b"></span>
</ng-template>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Изменение информации о игре"
  nzCentered
  (nzOnCancel)="handleCancel()"
  [nzFooter]="modalFooter"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="gameForm" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="name">Название</nz-form-label>
        <nz-form-control
          nzErrorTip="Это поле обязательно для заполнения, длина не должна превышать 128 символов"
        >
          <input nz-input formControlName="name" id="name" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired="" nzFor="text">Описание</nz-form-label>
        <nz-form-control
          nzErrorTip="Это поле обязательно для заполнения, длина не должна превышать 2000 символов"
        >
          <nz-textarea-count [nzMaxCharacterCount]="2000">
            <textarea
              formControlName="text"
              id="text"
              nz-input
              rows="5"
              style="max-height: 300px"
            ></textarea>
          </nz-textarea-count>
        </nz-form-control>
      </nz-form-item>

      <div nz-row class="nz-form-item">
        <div nz-col nzSpan="7">
          <nz-form-label nzRequired nzFor="defaultPrice"
            >Цена со своим</nz-form-label
          >
          <nz-form-control>
            <nz-input-number-group nzPrefix="BYN">
              <nz-input-number
                formControlName="defaultPrice"
                id="defaultPrice"
                [nzMin]="0"
                [nzStep]="1"
              ></nz-input-number>
            </nz-input-number-group>
          </nz-form-control>
        </div>

        <div nz-col nzSpan="7">
          <nz-form-label nzFor="rentalPrice">Цена с прокатным</nz-form-label>
          <nz-form-control>
            <nz-input-number-group nzPrefix="BYN">
              <nz-input-number
                formControlName="rentalPrice"
                id="rentalPrice"
                [nzMin]="0"
                [nzStep]="1"
              ></nz-input-number>
            </nz-input-number-group>
          </nz-form-control>
        </div>

        <div nz-col nzFlex="auto">
          <nz-form-label nzFor="startDt" nzRequired>
            Дата и время начала
          </nz-form-label>
          <nz-form-control>
            <nz-date-picker
              formControlName="startDt"
              id="startDt"
              nzFormat="yyyy-MM-dd HH:mm"
              [nzDisabledDate]="disabledDate"
              [nzShowTime]="timeOptions"
              [nzDisabledTime]="disabledDateTime"
            ></nz-date-picker>
          </nz-form-control>
        </div>
      </div>

      <nz-form-item>
        <nz-form-control nzErrorTip="Это поле обязательно для заполнения">
          <nz-radio-group formControlName="gameType">
            <label nz-radio [nzValue]="6">Сталкерстрайк</label>
            <label nz-radio [nzValue]="1">Воскреска</label>
            <label nz-radio [nzValue]="5">Сюжетка</label>
            <label nz-radio [nzValue]="4">Спидсофт</label>
            <label nz-radio [nzValue]="3">Закрытие сезона</label>
            <label nz-radio [nzValue]="2">Открытие сезона</label>
            <label nz-radio [nzValue]="0">Пистолетка</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>

<ng-template #modalFooter>
  <button
    nz-button
    [disabled]="gameForm.invalid"
    nzType="primary"
    (click)="UpdateGame()"
  >
    Обновить
  </button>
</ng-template>
