nz-card {
  position: fixed;
  top: 50%;
  left: 50%;

  width: 30em;
  transform: translate(-50%, -50%);
}

.centring-card {
  margin: auto;
  top: 40%;
}

.login-form-register {
  float: right;
  margin-bottom: 16px;
}

.login-form-button {
  width: 100%;
}

.centered {
  text-align: center;
}

nz-form-item {
  margin-bottom: 24px;
}
