<nz-layout>
  <nz-header>
    <a href="#" class="logo">
      <img src="assets/img/Logo6.png" alt="LogoImage" class="logoImg" />
      <strong>Airsoft Club</strong>
    </a>
  </nz-header>
  <nz-layout>
    <nz-sider nzCollapsible nzTheme="dark" nzWidth="200px">
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <li nz-menu-item>
          <span nz-icon nzType="user"></span>
          <span>Аккаунт</span>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="desktop"></span>
          <span>Новости</span>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="team"></span>
          <span>Моя команда</span>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="team"></span>
          <span>Клубы</span>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="poweroff"></span>
          <span>Выход</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-content>
        <router-outlet></router-outlet>
        <div class="inner-content">Bill is a cat.</div>
      </nz-content>
      <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>
