<div style="display: table; min-height: 100%; margin: auto">
  <div class="centring-card">
    <nz-card nzBorderless>
      <form
        nz-form
        [formGroup]="registerForm"
        class="login-form"
        (ngSubmit)="onSubmit()"
      >
        <h1 nz-typography class="centered">Регистрация</h1>
        <nz-form-item>
          <nz-form-control
            nzErrorTip="Введите свой Логин, длина не должна превышать 128 символов"
          >
            <nz-input-group nzPrefixIcon="user">
              <input
                type="text"
                nz-input
                formControlName="userName"
                placeholder="Логин"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control
            nzErrorTip="Минимум 8 символов, как минимум одна цифра и буква"
          >
            <nz-input-group nzPrefixIcon="unlock" [nzSuffix]="password">
              <input
                [type]="passwordVisible ? 'text' : 'password'"
                nz-input
                formControlName="password"
                placeholder="Пароль"
                (ngModelChange)="updateConfirmValidator()"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Пароли не совпадают">
            <nz-input-group nzPrefixIcon="lock" [nzSuffix]="passwordConfirm">
              <input
                [type]="passwordConfirmVisible ? 'text' : 'password'"
                nz-input
                formControlName="confirmPassword"
                placeholder="Подтвердите пароль"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <ng-template #password>
          <span
            nz-icon
            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible"
          ></span>
        </ng-template>
        <ng-template #passwordConfirm>
          <span
            nz-icon
            [nzType]="passwordConfirmVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordConfirmVisible = !passwordConfirmVisible"
          ></span>
        </ng-template>

        <a class="login-form-register" routerLink="/login"
          >Есть аккаунт? Войдите</a
        >
        <button
          [disabled]="registerForm.invalid"
          nz-button
          class="login-form-button login-form-margin"
          [nzType]="'primary'"
        >
          Войти
        </button>
        <!--Or
    <a>register now!</a>-->
      </form>
    </nz-card>
  </div>
</div>
