<nz-card
  [nzBordered]="false"
  [nzActions]="[actionFieldEdit, actionFieldDelete]"
  nzTitle="Полигон {{ field.name }}"
  [nzExtra]="extraTemplate"
  *ngIf="CanChange; else CannotChange"
>
  <p>{{ field.text }}</p>
  <p *ngIf="field.isCovered; else notCovered">Крытый полигон</p>
  <ng-template #notCovered>
    <p #notCovered>Открытый полигон</p>
  </ng-template>
  <p>Адрес: {{ field.address }}</p>
  <p>GPS: {{ field.gps }}</p>
</nz-card>

<ng-template #CannotChange>
  <nz-card
    [nzBordered]="false"
    nzTitle="Полигон {{ field.name }}"
    [nzExtra]="extraTemplate"
  >
    <p>{{ field.text }}</p>
    <p *ngIf="field.isCovered; else notCovered">Крытый полигон</p>
    <ng-template #notCovered>
      <p #notCovered>Открытый полигон</p>
    </ng-template>
    <p>Адрес: {{ field.address }}</p>
    <p>GPS: {{ field.gps }}</p>
  </nz-card>
</ng-template>

<ng-template #actionFieldEdit>
  <span nz-icon nzType="edit" (click)="showModal()"></span>
</ng-template>

<ng-template #extraTemplate>
  <span>{{ field.creationDt | date : "d MMM y" }}</span>
</ng-template>

<ng-template #actionFieldDelete>
  <span
    nz-icon
    nzType="delete"
    nz-popconfirm
    nzPopconfirmTitle="Вы точно хотите удалить полигон?"
    nzPopconfirmPlacement="bottom"
    (nzOnConfirm)="deleteField()"
    [nzIcon]="customIcon"
    nzCancelText="Нет, не удалять"
    nzOkText="Да, удалить"
  ></span>
</ng-template>

<ng-template #customIcon>
  <span nz-icon nzType="warning" style="color: #b4251b"></span>
</ng-template>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Изменение информации о клубе"
  nzCentered
  (nzOnCancel)="handleCancel()"
  [nzFooter]="modalFooter"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="fieldForm" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="name">Название</nz-form-label>
        <nz-form-control
          nzErrorTip="Это поле обязательно для заполнения, длина не должна превышать 128 символов"
        >
          <input nz-input formControlName="name" id="name" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired="" nzFor="text">Описание</nz-form-label>
        <nz-form-control
          nzErrorTip="Это поле обязательно для заполнения, длина не должна превышать 2000 символов"
        >
          <nz-textarea-count [nzMaxCharacterCount]="2000">
            <textarea
              formControlName="text"
              id="text"
              nz-input
              rows="5"
              style="max-height: 300px"
            ></textarea>
          </nz-textarea-count>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="Это поле обязательно для заполнения">
          <nz-radio-group formControlName="isCovered">
            <label nz-radio [nzValue]="false">Открытый</label>
            <label nz-radio [nzValue]="true">Крытый</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired nzFor="address">Адрес</nz-form-label>
        <nz-form-control nzErrorTip="Это поле обязательно для заполнения">
          <input nz-input formControlName="address" id="adress" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="gps">GPS</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="gps" id="gps" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>

<ng-template #modalFooter>
  <button
    nz-button
    [disabled]="fieldForm.invalid"
    nzType="primary"
    (click)="UpdateField()"
  >
    Обновить
  </button>
</ng-template>
