// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

@primary-color: #436436;
@primary-1: #436436; //#e3c548;
@error-color: #b4251b;
@highlight-color: @error-color;
@component-background: #dabc44; //#f9dc5c; // //#fddb51
@layout-body-background: #151412;
@border-color-base: #808080;
@disabled-bg: #9c9c9c;
@disabled-color: #000;
//@text-color: #fff;
@layout-header-background: #436436; //#607744; //#357266; //  //
@layout-sider-background: @component-background;
@menu-dark-bg: @component-background;
//@text-color-dark: #000;
//@menu-dark-color:
@text-color-secondary-dark: #000;
@menu-dark-highlight-color: #000;
@menu-dark-selected-item-icon-color: #000;
@menu-dark-selected-item-text-color: #000;
@layout-trigger-background: #dabc44;
@layout-trigger-color: #000;

@input-color: #fff;
@input-bg: #151412;

@card-head-background: #436436;
@card-skeleton-bg: #151412;
//@card-radius: 10px;
@border-color-split: #436436;

@select-color: #fff;
@select-background: #151412;
//@select-dropdown-bg: #151412;

@item-hover-bg: #537e43;

@btn-default-color: #fff;
@btn-default-bg: #151412;
@btn-default-border: #dabc44;
@btn-primary-color: #000;
@btn-danger-color: #000;

@divider-color: #dabc44;

@popover-color: #000;

@table-header-bg: #dabc44;
//@table-selected-row-bg: #436436;
@table-row-hover-bg: #537e43;
//@btn-primary-color: #000;

@back-top-color: #000;
@back-top-bg: #dabc44;
@back-top-hover-bg: @primary-color;

@picker-bg: #000;

@form-item-margin-bottom: 16px;
//@input-addon-bg: #b4251b;
