<nz-card
  *ngIf="CanChange; else CantChange"
  [nzBordered]="false"
  [nzTitle]="infoTitle"
  [nzExtra]="extraTemplate"
  [nzActions]="[actionInfoEdit, actionInfoDelete]"
>
  <p>{{ info.text }}</p>
</nz-card>

<ng-template #CantChange>
  <nz-card [nzBordered]="false" [nzTitle]="infoTitle" [nzExtra]="extraTemplate">
    <p>{{ info.text }}</p>
  </nz-card>
</ng-template>

<ng-template #extraTemplate>
  <span>{{ info.creationDt | date : "d MMM y" }}</span>
</ng-template>

<ng-template #infoTitle>
  <nz-avatar
    *ngIf="info.authorType == 0"
    nzSize="large"
    [nzText]="CutPlayerName()"
  ></nz-avatar>
  <nz-avatar
    *ngIf="info.authorType == 1"
    nzSize="large"
    nzIcon="team"
  ></nz-avatar>
  <nz-avatar
    *ngIf="info.authorType == 2"
    nzSize="large"
    nzIcon="ng-zorro:ngClub"
  ></nz-avatar>
  <span style="margin-left: 16px">{{ info.authorName }}</span>
</ng-template>

<ng-template #actionInfoEdit>
  <span nz-icon nzType="edit" (click)="showModal()"></span>
</ng-template>

<ng-template #actionInfoDelete>
  <span
    nz-icon
    nzType="delete"
    nz-popconfirm
    nzPopconfirmTitle="Вы точно хотите удалить запись?"
    nzPopconfirmPlacement="bottom"
    (nzOnConfirm)="deleteInfo()"
    [nzIcon]="customIcon"
    nzCancelText="Нет, не удалять"
    nzOkText="Да, удалить"
  ></span>
</ng-template>

<ng-template #customIcon>
  <span nz-icon nzType="warning" style="color: #b4251b"></span>
</ng-template>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Изменение данных"
  nzCentered
  (nzOnCancel)="handleCancel()"
  [nzFooter]="modalFooter"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="infoForm" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzFor="text">Контент</nz-form-label>
        <nz-form-control>
          <nz-textarea-count [nzMaxCharacterCount]="3000">
            <textarea
              formControlName="text"
              id="text"
              nz-input
              rows="5"
              style="max-height: 500px"
            ></textarea>
          </nz-textarea-count>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>

<ng-template #modalFooter>
  <button
    nz-button
    [disabled]="infoForm.invalid"
    nzType="primary"
    (click)="UpdateInfo()"
  >
    Обновить
  </button>
</ng-template>
